In [7]:
import pandas as pd
df = pd.read_csv('data_RFM.csv')
df

,CustomerID,Recency,Frequency,Monetary,RFM_Recency,RFM_Frequency,RFM_Monetary,RFM_Score
0,29818,3465,12,882276.50,2,1,1,211
1,29722,3434,12,860147.51,1,1,1,111
2,29715,3434,12,853850.64,1,1,1,111
3,30117,3465,12,817127.80,2,1,1,211
4,29614,3495,12,803769.85,2,1,1,211
...,...,...,...,...,...,...,...,...
19114,28781,3550,1,2.29,3,4,5,345
19115,28095,3589,1,2.29,4,5,5,455
19116,28094,3715,1,2.29,5,5,5,555
19117,28300,3666,1,2.29,5,5,5,555
19118,30078,3739,1,1.37,5,5,5,555

In [8]:
# Đặt tên 11 phân khúc khách hàng
segment_names = ["Champions", "Loyal Customers", "Potential Loyalist",
                 "New Customers", "Promising", "Need Attention", 
                 "About To Sleep", "At Risk", "Can't Lose Them", "Lost"]

# Định nghĩa hàm phân khúc
def rfm_segment(row):
    recency_lower = [4, 2, 3, 4, 3, 2, 2, 1, 1, 1]
    recency_upper = [5, 5, 5, 5, 4, 3, 3, 2, 1, 2]
    frequency_lower = [4, 3, 1, 1, 1, 2, 1, 2, 4, 1]
    frequency_upper = [5, 5, 3, 1, 1, 3, 2, 5, 5, 2]
    monetary_lower = [4, 3, 1, 1, 1, 2, 1, 2, 4, 1]
    monetary_upper = [5, 5, 3, 1, 1, 3, 2, 5, 5, 2]

    for i in range(len(segment_names)):
        condition = (
            (row['RFM_Recency'] >= recency_lower[i]) & (row['RFM_Recency'] <= recency_upper[i]) &
            (row['RFM_Frequency'] >= frequency_lower[i]) & (row['RFM_Frequency'] <= frequency_upper[i]) &
            (row['RFM_Monetary'] >= monetary_lower[i]) & (row['RFM_Monetary'] <= monetary_upper[i])
        )
        if condition:
            return segment_names[i]
    return 'Other'

# Áp dụng hàm rfm_segment để gán phân khúc
df['Segment'] = df.apply(rfm_segment, axis=1)

# Hiển thị kết quả
print(df)

       CustomerID  Recency  Frequency   Monetary  RFM_Recency  RFM_Frequency  \
0           29818     3465         12  882276.50            2              1
1           29722     3434         12  860147.51            1              1
2           29715     3434         12  853850.64            1              1
3           30117     3465         12  817127.80            2              1
4           29614     3495         12  803769.85            2              1
...           ...      ...        ...        ...          ...            ...
19114       28781     3550          1       2.29            3              4
19115       28095     3589          1       2.29            4              5
19116       28094     3715          1       2.29            5              5
19117       28300     3666          1       2.29            5              5
19118       30078     3739          1       1.37            5              5

       RFM_Monetary  RFM_Score          Segment
0                 1        211   About To Sleep
1                 1        111             Lost
2                 1        111             Lost
3                 1        211   About To Sleep
4                 1        211   About To Sleep
...             ...        ...              ...
19114             5        345  Loyal Customers
19115             5        455        Champions
19116             5        555        Champions
19117             5        555        Champions
19118             5        555        Champions

[19119 rows x 9 columns]

In [ ]:
df.to_csv('data_RFM_segments.csv', index=False)